openapi: 3.2.0
info:
  title: UBC Abacus Dataverse Builtin Users API
  description: OpenAPI 3.0 description of the Dataverse REST API exposed by UBC Library's Abacus research-data repository (Dataverse 5.9). Spec retrieved live from https://abacus.library.ubc.ca/openapi. Native Dataverse Search and Data Access APIs are available for read; write operations require an API token.
  version: '5.9'
servers:
- url: https://abacus.library.ubc.ca
  description: UBC Abacus Dataverse production server.
tags:
- name: Builtin Users
paths:
  /api/v1/builtin-users:
    post:
      operationId: save
      parameters:
      - name: password
        in: query
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      - name: sendEmailNotification
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BuiltinUser'
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Builtin Users
      summary: Save
      x-summary-source: derived
  /api/v1/builtin-users/{password}/{key}:
    post:
      operationId: create
      parameters:
      - name: password
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BuiltinUser'
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Builtin Users
      summary: Create
      x-summary-source: derived
  /api/v1/builtin-users/{password}/{key}/{sendEmailNotification}:
    post:
      operationId: create
      parameters:
      - name: password
        in: path
        required: true
        schema:
          type: string
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: sendEmailNotification
        in: path
        required: true
        schema:
          type: boolean
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BuiltinUser'
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Builtin Users
      summary: Create
      x-summary-source: derived
  /api/v1/builtin-users/{username}/api-token:
    get:
      operationId: getApiToken
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: password
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Builtin Users
      summary: Get api token
      x-summary-source: derived
components:
  schemas:
    Reason:
      enum:
      - Ingest
      - Workflow
      - InReview
      - DcmUpload
      - finalizePublication
      - EditInProgress
      - FileValidationFailed
    BuiltinUser:
      type: object
      properties:
        id:
          type: number
        userName:
          type: string
        passwordEncryptionVersion:
          type: integer
        passwordResetData:
          $ref: '#/components/schemas/PasswordResetData'
        encryptedPassword:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        affiliation:
          type: string
        position:
          type: string
    PasswordResetData:
      type: object
      properties:
        id:
          type: number
        token:
          type: string
        builtinUser:
          $ref: '#/components/schemas/BuiltinUser'
        created: {}
        expires: {}
        reason:
          $ref: '#/components/schemas/Reason'
x-operator: institution
x-operator-note: Host is under ubc.ca, UBC's own registrable domain, and the deployment is operated by UBC Library. The Dataverse contract itself is the software vendor's; the service running it is UBC's. Anything derived from this document inherits that split.
