openapi: 3.0.0
info:
  title: UBC Abacus Dataverse Access Mydata API
  description: OpenAPI 3.0 description of the Dataverse REST API exposed by UBC Library's Abacus research-data repository (Dataverse 5.9). Spec retrieved live from https://abacus.library.ubc.ca/openapi. Native Dataverse Search and Data Access APIs are available for read; write operations require an API token.
  version: '5.9'
servers:
- url: https://abacus.library.ubc.ca
  description: UBC Abacus Dataverse production server.
tags:
- name: Mydata
paths:
  /api/v1/mydata/retrieve:
    get:
      operationId: retrieveMyDataAsJsonString
      parameters:
      - name: dvobject_types
        in: query
        schema:
          type: array
          items:
            type: string
      - name: published_states
        in: query
        schema:
          type: array
          items:
            type: string
      - name: selected_page
        in: query
        schema:
          type: integer
      - name: mydata_search_term
        in: query
        schema:
          type: string
      - name: role_ids
        in: query
        schema:
          type: array
          items:
            type: number
      - name: userIdentifier
        in: query
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: string
          description: Default Response.
      tags:
      - Mydata
