openapi: 3.0.0
info:
  title: UBC Abacus Dataverse Access Pids API
  description: OpenAPI 3.0 description of the Dataverse REST API exposed by UBC Library's Abacus research-data repository (Dataverse 5.9). Spec retrieved live from https://abacus.library.ubc.ca/openapi. Native Dataverse Search and Data Access APIs are available for read; write operations require an API token.
  version: '5.9'
servers:
- url: https://abacus.library.ubc.ca
  description: UBC Abacus Dataverse production server.
tags:
- name: Pids
paths:
  /api/v1/pids:
    get:
      operationId: getPid
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Pids
  /api/v1/pids/unreserved:
    get:
      operationId: getUnreserved
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Pids
  /api/v1/pids/{id}/delete:
    delete:
      operationId: deletePid
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Pids
  /api/v1/pids/{id}/reserve:
    post:
      operationId: reservePid
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: object
          description: Default Response.
      tags:
      - Pids
