openapi: 3.2.0
info:
  title: UBC Abacus Dataverse Info API
  description: OpenAPI 3.0 description of the Dataverse REST API exposed by UBC Library's Abacus research-data repository (Dataverse 5.9). Spec retrieved live from https://abacus.library.ubc.ca/openapi. Native Dataverse Search and Data Access APIs are available for read; write operations require an API token.
  version: '5.9'
servers:
- url: https://abacus.library.ubc.ca
  description: UBC Abacus Dataverse production server.
tags:
- name: Info
paths:
  /api/v1/info/apiTermsOfUse:
    get:
      operationId: getTermsOfUse
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get terms of use
      x-summary-source: derived
  /api/v1/info/metrics/datasets:
    get:
      operationId: getDatasetsAllTime
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get datasets all time
      x-summary-source: derived
  /api/v1/info/metrics/datasets/bySubject:
    get:
      operationId: getDatasetsBySubject
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get datasets by subject
      x-summary-source: derived
  /api/v1/info/metrics/datasets/bySubject/toMonth/{yyyymm}:
    get:
      operationId: getDatasetsBySubjectToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get datasets by subject to month
      x-summary-source: derived
  /api/v1/info/metrics/datasets/monthly:
    get:
      operationId: getDatasetsTimeSeriest
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get datasets time seriest
      x-summary-source: derived
  /api/v1/info/metrics/datasets/pastDays/{days}:
    get:
      operationId: getDatasetsPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          type: integer
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get datasets past days
      x-summary-source: derived
  /api/v1/info/metrics/datasets/toMonth/{yyyymm}:
    get:
      operationId: getDatasetsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get datasets to month
      x-summary-source: derived
  /api/v1/info/metrics/dataverses:
    get:
      operationId: getDataversesAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get dataverses all time
      x-summary-source: derived
  /api/v1/info/metrics/dataverses/byCategory:
    get:
      operationId: getDataversesByCategory
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get dataverses by category
      x-summary-source: derived
  /api/v1/info/metrics/dataverses/bySubject:
    get:
      operationId: getDataversesBySubject
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get dataverses by subject
      x-summary-source: derived
  /api/v1/info/metrics/dataverses/monthly:
    get:
      operationId: getDataversesTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get dataverses time series
      x-summary-source: derived
  /api/v1/info/metrics/dataverses/pastDays/{days}:
    get:
      operationId: getDataversesPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          type: integer
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get dataverses past days
      x-summary-source: derived
  /api/v1/info/metrics/dataverses/toMonth/{yyyymm}:
    get:
      operationId: getDataversesToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get dataverses to month
      x-summary-source: derived
  /api/v1/info/metrics/downloads:
    get:
      operationId: getDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get downloads all time
      x-summary-source: derived
  /api/v1/info/metrics/downloads/monthly:
    get:
      operationId: getDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get downloads time series
      x-summary-source: derived
  /api/v1/info/metrics/downloads/pastDays/{days}:
    get:
      operationId: getDownloadsPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          type: integer
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get downloads past days
      x-summary-source: derived
  /api/v1/info/metrics/downloads/toMonth/{yyyymm}:
    get:
      operationId: getDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get downloads to month
      x-summary-source: derived
  /api/v1/info/metrics/filedownloads:
    get:
      operationId: getFileDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get file downloads all time
      x-summary-source: derived
  /api/v1/info/metrics/filedownloads/monthly:
    get:
      operationId: getFileDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get file downloads time series
      x-summary-source: derived
  /api/v1/info/metrics/filedownloads/toMonth/{yyyymm}:
    get:
      operationId: getFileDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get file downloads to month
      x-summary-source: derived
  /api/v1/info/metrics/files:
    get:
      operationId: getFilesAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get files all time
      x-summary-source: derived
  /api/v1/info/metrics/files/byType:
    get:
      operationId: getFilesByType
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get files by type
      x-summary-source: derived
  /api/v1/info/metrics/files/byType/monthly:
    get:
      operationId: getFilesByTypeTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get files by type time series
      x-summary-source: derived
  /api/v1/info/metrics/files/monthly:
    get:
      operationId: getFilesTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get files time series
      x-summary-source: derived
  /api/v1/info/metrics/files/pastDays/{days}:
    get:
      operationId: getFilesPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          type: integer
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get files past days
      x-summary-source: derived
  /api/v1/info/metrics/files/toMonth/{yyyymm}:
    get:
      operationId: getFilesToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get files to month
      x-summary-source: derived
  /api/v1/info/metrics/makeDataCount/{metric}:
    get:
      operationId: getMakeDataCountMetricCurrentMonth
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get make data count metric current month
      x-summary-source: derived
  /api/v1/info/metrics/makeDataCount/{metric}/monthly:
    get:
      operationId: getMakeDataCountMetricTimeSeries
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get make data count metric time series
      x-summary-source: derived
  /api/v1/info/metrics/makeDataCount/{metric}/toMonth/{yyyymm}:
    get:
      operationId: getMakeDataCountMetricToMonth
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          type: string
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get make data count metric to month
      x-summary-source: derived
  /api/v1/info/metrics/tree:
    get:
      operationId: getDataversesTree
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get dataverses tree
      x-summary-source: derived
  /api/v1/info/metrics/tree/toMonth/{yyyymm}:
    get:
      operationId: getDataversesTreeToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get dataverses tree to month
      x-summary-source: derived
  /api/v1/info/metrics/uniquedownloads:
    get:
      operationId: getUniqueDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get unique downloads all time
      x-summary-source: derived
  /api/v1/info/metrics/uniquedownloads/monthly:
    get:
      operationId: getUniqueDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get unique downloads time series
      x-summary-source: derived
  /api/v1/info/metrics/uniquedownloads/toMonth/{yyyymm}:
    get:
      operationId: getUniqueDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get unique downloads to month
      x-summary-source: derived
  /api/v1/info/metrics/uniquefiledownloads:
    get:
      operationId: getUniqueFileDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get unique file downloads all time
      x-summary-source: derived
  /api/v1/info/metrics/uniquefiledownloads/monthly:
    get:
      operationId: getUniqueFileDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get unique file downloads time series
      x-summary-source: derived
  /api/v1/info/metrics/uniquefiledownloads/toMonth/{yyyymm}:
    get:
      operationId: getUniqueFileDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        default:
          description: Default Response.
      tags:
      - Info
      summary: Get unique file downloads to month
      x-summary-source: derived
  /api/v1/info/server:
    get:
      operationId: getServer
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get server
      x-summary-source: derived
  /api/v1/info/settings/:DatasetPublishPopupCustomText:
    get:
      operationId: getDatasetPublishPopupCustomText
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get dataset publish popup custom text
      x-summary-source: derived
  /api/v1/info/version:
    get:
      operationId: getInfo
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default Response.
      tags:
      - Info
      summary: Get info
      x-summary-source: derived
x-operator: institution
x-operator-note: Host is under ubc.ca, UBC's own registrable domain, and the deployment is operated by UBC Library. The Dataverse contract itself is the software vendor's; the service running it is UBC's. Anything derived from this document inherits that split.
